*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.852);
}

.location-not-found{
    margin-top: 20px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.location-not-found img{
    width: 60%;
}
.location-not-found h1{
    font-size: 20px;
    color: #6b6b6b;
    margin-block: 20px;
}

.container{
    width: 400px;
    height: min-content;
    background-color: rgba(255, 255, 255, 0.874);
    padding: 30px;
    border-radius: 12px;
}

.search-box{
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-search{
    width: 85%;
    font-size: 20px;
    text-transform: capitalize;
    color: black;
    background-color: #bde0ee;
    padding: 12px 16px;
    border-radius: 14px;
}

.search-box input::placeholder{
    color: black;
}

.search-box button{
    width: 46px;
    height: 46px;
    background-color: #e6f5fb;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
}
.search-box button:hover{
    color: white;
    background-color: #ababab;
}

.weather-body{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 20px;
}
.weather-body img{
    width: 50%;
}
.weather-box{
    margin-block: 20px;
    text-align: center;
}
.weather-box .temp{
    font-size: 40px;
    font-weight: bold;
}
.weather-box .desc{
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
}

.weather-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.humidity, .wind{
    display: flex;
    align-items: center;
}
.humidity{
    margin-left: 20px;
}
.wind{
    margin-right: 20px;
}

.weather-details i{
    font-size: 36px;
}

.weather-details .text{
    margin-left: 10px;
    font-size: 16px;
}

.text span{
    font-size: 18px;
    font-weight: 500;
}

